<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테니스 마켓</title>
    <link rel="favicon" href="/static/img/favicon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div id="title">
        <h1>테니스 마켓</h1>
        <p>테니스 마켓에 오신걸 환영합니다!</p>
        <br>
        <p id="login_sentence"></p><p>즐거운 쇼핑 되세요.</p>
        <br>
        <br>
        <a href="/orderlist">주문 조회</a>
        <a href="/login">로그인</a>
        <a href="/signup">회원 가입</a>
    </div>
    <div id='card_list'></div>
    <script src="/js/main.js"></script>
</body>
</html>