<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 조회</title>
    <link rel="favicon" href="/static/img/favicon/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h1>주문 조회</h1>
    <a href="/">홈페이지</a>
    <table id="order_list">
        <tr>
            <th>번호</th>
            <th>주문 날짜</th>
        </tr>
    </table>
    <script type="module" src="/js/orderlists.js"></script>
</body>
</html>